DATABASE_URL="postgresql://neondb_owner:npg_HIjTUtQv2pP7@ep-round-salad-azr5gc8f-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="rrce_super_secret_production_jwt_key_2025_bangalore"
SEED_SECRET="rrce_seed_2025"
